.body-wrap {
	position: relative;
	width: 600px;
	height: 100%;
	margin: auto;
}

.game-container {
	position: relative;
	margin: auto;
	margin-top: 20%;
	height: 60px;
	padding: 10px;
}

.game-container div {
	position: relative;
	border: 1px solid grey;
	border-radius: 10px;
	background-image: url('https://steamstore-a.akamaihd.net/public/images/v6/blue_body_repeat.jpg?v=1');
}

.game-container div * {
	padding: 0px 10px 0px 10px;
	margin: auto;
	position: relative;
	display: inline-block;
}

.game-container img {
	padding-top: 3px;
	width: 120px;
	height: 60px;
}

.game-container h1 {
	padding: 15px;
	font-family: "Helvetica Neue", "Arial", "Courrier";
	color: #DDDDDD;
	vertical-align: top;
}